@-moz-viewport: {width: device-width;scale: 1;}
@-ms-viewport: {width: device-width;scale: 1;}
@-viewport: {width: device-width;scale: 1;}
@-o-viewport: {width: device-width;scale: 1;}
@-webkit-viewport: {width: device-width;scale: 1;}
@viewport: {width: device-width;scale: 1;}

html {
  box-sizing: border-box;
  font: normal 100% ;
  font-family: Raleway;
}


*, *::before, *::after {
  box-sizing: inherit;
}

img {
	display: block;
	width: 100%;
}

body {
	margin: 0;

}

header {
	padding: 0.5em 0 0;
	background-color: #fff;
}

.logo{
	float: left;
	width: 15%;
	margin-right: 10px;
}

h1 {
	margin: 0 0 0.7rem;
	text-align: center;
	color: #000;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #000;
	clear: both;
}

.nav a{
	color: #fff;
	text-align: center;
	font-size: 18px;
	border-top: solid  1px;
}

.nav a:hover {
  background-color: #b808ff;
}

.nav a{
	display: block;
	padding: .5em 1em;
	text-decoration: none;
	font-weight: bold;
}

.banner{
	text-align: center;
	position: relative;

}

.banner img{
	width: 150%;
	font-size: 1.5rem;
}

.banner-content{
	position: absolute;
	bottom: 2em;
	padding: 10px;
	color: white;
	text-align: center;
	width: 100%;
	text-shadow: 4px 4px 10px black;
}

.banner-content h2{
	color: white;
}

h2{
	text-align: center;
	font-size: 20px;
	margin-bottom: 2rem;
	margin-top: 2rem;
	color: #b808ff;
}

h3{
	text-align: left;
	font-size: 18px;
	margin-bottom: 1rem;
	margin-top: 2rem;
	padding-left: 0.5rem;
	color: #b808ff;
}

p{
	padding-left: 0.5rem;
	font-size: 18px;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
}

.tickets{
	text-align: center;
}

.btn{
	display: inline-block;
	background-color: black;
	border-radius: 0.25em;
	padding: .5em;
	margin: .5em;
	color: white;
	text-align: center;
	text-decoration: none;

}

.btn:hover{
	background-color: gray;
}

.now-playing{
	width: 100%;
	text-align: center;
	padding: .5em;
	color: #fff;
	background-color: black;
	margin-top: 2em;

}

figure{
	margin:0;
	position: relative;
}

figcaption{
	position: absolute;
	bottom: 0;
	padding: 1em;
	text-shadow: 1px 2px 1px black;
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.seven-wonders figcaption{
	background-color: rgba(0,0,0,0.5);
}

.now-playing-2{
 	color: white;
 	text-align: center;
 	width: 100%;
 	text-shadow: 1px 2px 1px black;
}

.figcaption-2{
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.info{
	padding-top: 20px;
	font-size: 18px;
	line-height: 2rem;
	margin-top: 0;
	margin-bottom: 0;
}
.bottom-links li{
	text-decoration: none;
	list-style: none;
}

footer{
	background-color: #000;
	color: #fff;
	padding: 1rem;
	clear: both;
}


@media only screen and (min-width: 26em ){


	.nav{
		text-align: center;
	}

	.nav li{
		display: inline-block;
	}

	.nav a{
		border-top: none;
	}

.nav a:hover {
  background-color: #b808ff;
  width: 100%;
  margin: 0;
}

}

@media only screen and (min-width: 30em){

   html{
   	font-size: 110%;
    line-height: 1.4;
  }

	.logo{
		display: inline-block;
		vertical-align: middle;
		margin: 0 1em;
	}

	.title{
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}

	.this-week{
		width: 50%;
		float: left;
	}

}

@media only screen and (min-width: 55em) {

	.title {
		display: block;
		margin: .5em 0;
	}

	.logo {
		display: block;
		margin: 0 auto;
		padding: 10px;
	}

	.nav{
		text-align: center;
	}

	.nav li{
		display: inline-block;
	}

	.nav a{
		border-top: none;
	}

.nav a:hover {
  background-color: #b808ff;
  width: 100%;
  margin: 0;
}


.seven-wonders{
	font-size: 110%;
  line-height: 1.4;
	width: 50%;
	float: left;
	padding: .7%;
}

}

@media only screen and (min-width: 156em){

	.logo{
		display: inline-block;
		vertical-align: middle;
		margin: 0 1em;
	}

	.title{
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}

	.seven-wonders{
		float: left;
		width: 30%
	}

	.this-week{
		width: 30%;
		float: left;
	}

	.banner img{
		max-width: 100%;
	}

}
