html {
  box-sizing: border-box;
  font: normal 100% ;
  font-family: Raleway;
}


*, *::before, *::after {
  box-sizing: inherit;
}

img {
	display: block;
	width: 100%;
}

body {
	margin: 0;

}

header {
	padding: 0.5em 0 0;
	background-color: #fff;
}

.logo{
	float: left;
	width: 15%;
	margin-right: 10px;
}

h1 {
	margin: 0 0 0.7rem;
	text-align: center;
	color: #000;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #000;
	clear: both;
}

.nav a{
	color: #fff;
	text-align: center;
	font-size: 18px;
	border-top: solid  1px;
}

.nav a:hover {
  background-color: #b808ff;
}

.nav a{
	display: block;
	padding: .5em 1em;
	text-decoration: none;
	font-weight: bold;
}

.banner{

	text-align: center;
	max-height: 75vh;

}

.banner img{
	width: 150%;
	font-size: 1.5rem;
}

.banner-content{
	position: relative;
	top: -13rem;
	padding: 10px;
	color: white;
	text-align: center;
	width: 100%;
	text-shadow: 4px 4px 10px black;
}

.banner-content h2{
	color: white;
}

h2{
	text-align: center;
	font-size: 20px;
	margin-bottom: 2rem;
	margin-top: 2rem;
	color: #b808ff;
}

h3{
	text-align: left;
	font-size: 18px;
	margin-bottom: 1rem;
	margin-top: 2rem;
	padding-left: 0.5rem;
	color: #b808ff;
}

p{
	padding-left: 0.5rem;
	font-size: 18px;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
}

.btn{
	display: inline-block;
	background-color: black;
	border-radius: 0.25em;
	padding: 1em;
	margin: 1em;
	color: white;
	text-align: center;
	text-decoration: none;

}

.btn:hover{
	background-color: gray;
}

.now-playing{
	width: 111.6%;
	text-align: center;
	padding: .5em;
	margin-bottom: -.80em;
	margin-left: -6%;
	color: #fff;
	background-color: black;
	margin-top: 2em;
}

figure{
	margin:0;
	position: relative;
}

figcaption{
	position: absolute;
	bottom: 0;
	padding: 1em;
	text-shadow: 1px 2px 1px black;
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.now-playing-2{
	position: relative;
 	top: -11rem;
 	color: white;
 	text-align: center;
 	margin-bottom: -7em;
 	width: 100%;
 	text-shadow: 1px 2px 1px black;
}

.figcaption-2{
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.info{
	padding-top: 20px;
	font-size: 18px;
	line-height: 2rem;
	margin-top: 0;
	margin-bottom: 0;
}
.bottom-links li{
	text-decoration: none;
	list-style: none;
}

footer{
	background-color: #000;
	color: #fff;
	padding: 1rem;
}


@media only screen and (min-width: 26em ){


	.nav{
		text-align: center;
	}

	.nav li{
		display: inline-block;
	}

}

@media only screen and (min-width: 30em){

	.logo{
		display: inline-block;
		vertical-align: middle;
		margin: 0 1em;
	}

	.title{
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}

}

@media only screen and (min-width: 55em) {

	.masthead{
		float: left;
		width: 30%;
	}

	main {
		float: right;
		width: 70%;
	}

	.title {
		display: block;
		margin: 1em 0;
	}

	.logo {
		display: block;
		margin: 0 auto;
	}

	.nav {
		text-align: left;
	}

	.nav li{
		display: block;
	}


}
