html {
  box-sizing: border-box;
  font: normal 100% ;
  font-family: 'Open Sans', sans-serif;
}


*, *::before, *::after {
  box-sizing: inherit;
}

img {
	display: block;
	width: 100%;
}

body {
	margin: 0;

}

header {
	padding: 0.5em 0 0;
	background-color: #fff;
}

.logo{
	float: left;
	width: 15%;
	margin-right: 10px;
}

h1 {
	margin: 0 0 0.7rem;
	text-align: center;
	color: #000;
}

.nav {
		margin: 0;
		overflow: hidden;
		padding: 0;
		font-size: 1.125rem;
		list-style-type: none;
		text-align: center;
		background-color: #b808ff;

}

.nav li {
  float: left;
  width: 25%;

}

.nav a {
  display: block;
  padding: 0.4rem 0;
  width: 100%;
  color: #000;
  text-decoration: none;
}

.nav a:hover {
  background-color: #fff;
}

.banner{
	position: relative;
	text-align: center;
	max-height: 75vh;
	overflow: hidden;
}

.banner img{
	width: 100%;
	font-size: 1.5rem;
}

.banner-content{
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	padding-left: 0.3px;
	padding-right: 0.3px;
}

h2{
	text-align: center;
	font-size: 20px;
	margin-bottom: 2rem;
	margin-top: 2rem;
	color: #b808ff;
}

h3{
	text-align: left;
	font-size: 18px;
	margin-bottom: 1rem;
	margin-top: 2rem;
	padding-left: 0.5rem;
	color: #b808ff;
}

p{
	padding-left: 0.5rem;
	font-size: 18px;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
}

.btn{
	display: inline-block;
	padding: 0.7rem 0.75rem;
	background-color: black;
	border: none;
	color: #fff;
	font-size: 1rem;
	text-decoration: none;
	text-align: center;
	width: 100%;
}

.btn:hover{
	background-color: gray;
}

figure{
	margin:0;
	position: relative;
}

figcaption{
	position: absolute;
	bottom: 0;
	padding: 1em;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.info{
	background-color: #b808ff;
	padding-top: 20px;
	font-size: 18px;
	line-height: 2rem;
	margin-top: 0;
	margin-bottom: 0;
}
.bottom-links li{
	text-decoration: none;
}

footer{
	background-color: #000;
	color: #fff;
	padding: 1rem;
}

